body {
    font-family: sans-serif;
}

#pitch-dialog {
    position: absolute;
    width: 300px;
    height: 150px;
    display: flex;
    border: 1px solid black;
    background-color: white;

    #note-buttons, #octave-buttons {
        width: 50%;
        padding: 5px;

        .note-button {
            width: 30px;
        }

        .octave-button {
            width: 50%;
        }

        .selected-note, .selected-octave {
            color: red;
            font-weight: bold;
        }
    }
}

#tension-boxes {
    margin: 5px;
    border: 1px solid black;
    min-width: 540px;
    width: calc(100% - 10px);
    max-width: 600px;
    background-color: beige;
}

.course-fields {
    margin: 3px;
    display: flex;
    border: 1px solid gray;

    > .input-fields {
        display: table;
        width: 100%;

        > div {
            display: table-row;

            > * {
                display: table-cell;
            }

            > input, > select {
                float: right;
            }

            > select {
                width: 200px;
            }
        }
    }

    .course-buttons {
        input[type="button"] {
            width: 100%;
        }
    }
}


.tension-output-field {
    padding: 0 5px;
}

.warning {
    background-color: red;
    content: 'Please check input parameters!';
}

table {
    border: 1px solid black;

    td {
        padding: 3px;
        border: 1px solid black;
    }

    thead {
        font-weight: bold;
    }
}

article
{
    max-width: 8.5in;
    width: 100%;
}
