body {
    font-family: sans-serif;
}

#tension-boxes {
    margin: 5px;
    border: 1px solid black;
    min-width: 540px;
    width: calc(100% - 10px);
    max-width: 600px;
    // max-width: 50%;
    background-color: beige;
}

.string-fields {
    margin: 3px;
    display: flex;
    border: 1px solid gray;

    > .input-fields {
        display: table;
        width: 100%;

        > div {
            display: table-row;

            > * {
                display: table-cell;

                > input, > select {
                    float: right;
                }
            }

        }
    }
}


.tension-output-field {
    padding: 0 5px;
}

.warning {
    background-color: red;
    content: 'Please check input parameters!';
}

table {
    border: 1px solid black;

    td {
        padding: 3px;
        border: 1px solid black;
    }

    thead {
        font-weight: bold;
    }
}

article
{
    width: 8.5in;
}
